<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733915356363-dj1sksrarhfofhhrlf7b1vs576dj0n2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733915356363-dj1sksrarhfofhhrlf7b1vs576dj0n2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAjsgvs4NBhgeYqZ_T0GyixUeHqO-QhP5A</string>
	<key>GCM_SENDER_ID</key>
	<string>733915356363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.packx.booking</string>
	<key>PROJECT_ID</key>
	<string>packx-e600f</string>
	<key>STORAGE_BUCKET</key>
	<string>packx-e600f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733915356363:ios:e8bb0516122a33a9014f4e</string>
</dict>
</plist>